<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<head th:insert="fragments/base.html :: headerfiles(title=#{pageTitle.cancellaCollezione})"></head>
	   	<head th:insert="fragments/navbar_amm.html :: navbar_amm_css"> </head>
	   	<link th:href="@{/css/amm_style.css}" rel="stylesheet">
	</head>
	<body>
	
	    <header th:replace="fragments/navbar_amm.html :: navbar"></header>
	
	    <header th:replace="fragments/navbar_amm.html :: choice_action"></header>
	
	    <section class="content_page">
	    	<div class="form_operation">
	        	<h3>Cancella Collezione</h3>
	            <h5>Inserisci il nome della collezione per eliminarla</h5>
	            <form th:action="@{/admin/deleteCollezione}" method="post">
	                <h6>Nome:</h6>
	                <input type="text" name="nome" placeholder="Nome">
	                <br>
	                <input type="submit" value="Cancella">
	            </form>
	        </div>
	        <div class="show_element">
	        	<div th:each="collezione : ${collezioni}" class="box_item">
	            	<a href="#" class="link_item">
	                	<img alt="" class="img_item" src="" th:src="*{'data:image/jpeg;base64,'+{collezione.image}}">
		            	<div class="flex_mobile">
			                <p>Nome: <span th:text="${collezione.nome}">nome collezione</span></p>
				            <p>Curatore: <span th:text="|${collezione.curatore.nome} ${collezione.curatore.cognome}|">nome curatore</span></p>
				        </div>
	            	</a>
	            <!-- QUI SI DEVONO CREARE MOLTI box_item -->
	        	</div>
	        </div>
	    </section>
	
	    	<script th:replace="fragments/base.html :: script"></script>
		   
	</body>
</html>