<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<head th:insert="fragments/base.html :: headerfiles(title=#{pageTitle.cancellaArtista})"></head>
	   	<head th:insert="fragments/navbar_amm.html :: navbar_amm_css"> </head>
	   	<link th:href="@{/css/amm_style.css}" rel="stylesheet">
	</head>
	<body>
	
	    <header th:replace="fragments/navbar_amm.html :: navbar"></header>
	
	    <header th:replace="fragments/navbar_amm.html :: choice_action"></header>
	
	    <section class="content_page">
	        <div class="form_operation">
	            <h3>Cancella Artista</h3>
	            <h5>Inserisci l'Id dell'artista per eliminarlo</h5>
	            <form th:action="@{/admin/deleteArtista}" method="post">
	                <h6>Id:</h6>
	                <input type="text" name="id" placeholder="id">
	                <br>
	                <input type="submit" value="Cancella">
	            </form>
	        </div>
	        <div class="show_element">
		    	<div th:each="artista : ${artisti}" class="box_item">
			    	<a href="#" class="link_item">
			        	<img alt="" class="img_item" src="img/284-davinci.jpg" th:src="*{'data:image/jpeg;base64,'+{artista.image}}">
			        	<div class="flex_mobile">
		            		<p>Id: <span th:text="${artista.id}">id artista</span></p>
		                	<p>Nome: <span th:text="${artista.nome}">nome artista</span></p>
		                	<p>Cognome: <span th:text="${artista.cognome}">cognome artista</span></p>
		            	</div>
			        </a>
		        </div>
		            <!-- QUI SI DEVONO CREARE MOLTI box_item -->
		     </div>
	    </section>
	
	    <script th:replace="fragments/base.html :: script"></script>
	    
	</body>
</html>