<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<head th:insert="fragments/base.html :: headerfiles(title=#{pageTitle.cancellaOpera})"></head>
	   	<head th:insert="fragments/navbar_amm.html :: navbar_amm_css"> </head>
	   	<link th:href="@{/css/amm_style.css}" rel="stylesheet">
	</head>
	<body>
	
	    <header th:replace="fragments/navbar_amm.html :: navbar"></header>
	
	    <header th:replace="fragments/navbar_amm.html :: choice_action"></header>
	
	    <section class="content_page">
	        <div class="form_operation">
	            <h3>Cancella Opera</h3>
	            <h5>Inserisci il titolo dell'opera per eliminarla</h5>
	            <form th:action="@{/admin/deleteOpera}" method="post">
	                <h6>Titolo:</h6>
	                <input type="text" name="titolo" placeholder="Titolo">
	                <br>
	                <input type="submit" value="Cancella">
	            </form>
	        </div>
	        <div class="show_element">
		    	<div th:each="opera : ${opere}" class="box_item">
			    	<a href="#" class="link_item">
			        	<img alt="" class="img_item" src="img/284-davinci.jpg" th:src="*{'data:image/jpeg;base64,'+{opera.image}}">
			        	<div class="flex_mobile">
			                <p>Titolo: <span th:text="${opera.titolo}">nome titolo</span></p>
			                <p>Artista: <span th:text="|${opera.artista.nome} ${opera.artista.cognome}|">nome artista</span></p>
			            </div>
			        </a>
		        </div>
		            <!-- QUI SI DEVONO CREARE MOLTI box_item -->
		     </div>
	    </section>
	
	    <script th:replace="fragments/base.html :: script"></script>
	    
	</body>
</html>