<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <head th:insert="fragments/base.html :: headerfiles(title=#{pageTitle.home_amm})"></head>
   		<head th:insert="fragments/navbar_amm.html :: navbar_amm_css"> </head>
   		<link th:href="@{/css/amm_style.css}" rel="stylesheet">
	</head>
	<body>
	
	    <header th:replace="fragments/navbar_amm.html :: navbar"></header>
	
	    <header th:replace="fragments/navbar_amm.html :: choice_action"></header>
	    
	    
	    <section class="message_welcome">
	        <div class="content_message">
	            <h1>Benvenuto <span th:text="|${admin.nome} ${admin.cognome}|">Nome Amministratore</span></h1>
	            <h3>Scegli una delle operazioni nella barra gialla in alto</h3>
	        </div>
	    </section>
	
	    <script th:replace="fragments/base.html :: script"></script>
	    
	</body>
</html>