<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<head th:insert="fragments/base.html :: headerfiles(title=#{pageTitle.inserisciOpera})"></head>
	   	<head th:insert="fragments/navbar_amm.html :: navbar_amm_css"> </head>
	   	<link th:href="@{/css/amm_style.css}" rel="stylesheet">
	</head>
	<body>
	
	    <header th:replace="fragments/navbar_amm.html :: navbar"></header>
	
	    <header th:replace="fragments/navbar_amm.html :: choice_action"></header>
	
	    <section class="content_page">
	        <div class="form_operation">
	            <h3>Inserisci Opera</h3>
	            <form th:action="@{/admin/addOpera}" method="post" th:object="${opera}" enctype="multipart/form-data">
	            	<div th:if="${#fields.hasGlobalErrors()}">
                    	<p th:each="err : ${#fields.globalErrors()}" th:text="${err}" th:style="'color:red'" >...</p>
        			</div>
	                <h6>Titolo:</h6>
	                <input type="text" th:field="*{titolo}" placeholder="Nome">
	                <h6 th:if="${#fields.hasErrors('titolo')}" th:errors="*{titolo}" th:style="'color:red'"> </h6>
	                <h6>Anno di realizzazione:</h6>
	                <input type="text" th:field="*{annoDiRealizzazione}" placeholder="1234">
	                <h6 th:if="${#fields.hasErrors('annoDiRealizzazione')}" th:errors="*{annoDiRealizzazione}" th:style="'color:red'"> </h6>
	                <h6>Descrizione:</h6>
	                <textarea type="text" th:field="*{descrizione}" placeholder="Descrizione"></textarea>
	                <h6 th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}" th:style="'color:red'"> </h6>
	                <h6>Nome Collezione:</h6>
	                <input type="text" th:field="*{collezione.nome}" placeholder="collezione">
	                <h6 th:if="${#fields.hasErrors('collezione')}" th:errors="*{collezione}" th:style="'color:red'"> </h6>
	                <h6>ID Artista:</h6>
	                <input type="text" th:field="*{artista.id}" placeholder="artista">
	                <h6 th:if="${#fields.hasErrors('artista')}" th:errors="*{artista}" th:style="'color:red'"> </h6>
	                <div>
	                    <h6>Image:</h6>
	                    <input type="file" name="file">
	                </div>
	                <input type="submit" value="Inserisci">
	            </form>
	        </div>
	        <div class="show_element">
	        	<div th:each="opera : ${opere}" class="box_item">
		            <a href="#" class="link_item" th:href="@{'/opera' + '/' + ${opera.titolo}}">
		            	<img alt="" class="img_item" src="img/284-davinci.jpg" th:src="*{'data:image/jpeg;base64,'+{opera.image}}">
		                <div class="flex_mobile">
			                <p>Titolo: <span th:text="${opera.titolo}">nome titolo</span></p>
			                <p>Artista: <span th:text="|${opera.artista.nome} ${opera.artista.cognome}|">nome artista</span></p>
			            </div>
		            </a>
	        	</div>
	            <!-- QUI SI DEVONO CREARE MOLTI box_item -->
	        </div>
	    </section>
	
	    <script th:replace="fragments/base.html :: script"></script>
	    
	</body>
</html>