/* ----------
Configurazioni base
-------------- */

body, html{
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{font-size: 60px;}
h2{font-size: 50px;}
h3{font-size: 35px;}
h4{font-size: 25px;}
h5{font-size: 20px;}
h6{font-size: 15px;}





.wt{color: white;}
.brwh{border: 1px solid white; border-radius: 30px; padding: 5px;}

/* ----------
HEADER
-------------- */

*{
    box-sizing: border-box;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 1);
    z-index: 10;
}

.logo_text{
    color: #fff;
    margin: 0 50px;
    z-index: 10;
}

.menu{
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
    text-decoration: none;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.0);
}

.menu li {
    margin: 0 35px;
    text-decoration: none;
    list-style: none;
}

.menu li a{
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: all 0.1s ease-in-out;
}

.menu li a:hover{
    border-radius: 10px;
    background: gray;
    transform: rotate(360deg);
}

.utility{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
}

i.fas.fa-bars.fa-2x.wt {
    color: white;
    display: none;
}

@media (max-width: 768px){

    .menu{
        position: absolute;
        top: 0;
        right: -100%;
        margin: 0;
        padding-top: 100px;
        flex-direction: column;
        justify-content: flex-start;
        background: black;
        width: 100%;
        height: 100vh;
        z-index: 1;
    }

    .menu--open{
        right: 0%;
    }

    .menu li{
        margin: 10px 0;
        font-size: xx-large;
    }

    i.fas.fa-bars.fa-2x.wt{
        display: block;
        position: absolute;
        top: 25px;
        right: 45px;
        z-index: 10;
    }
}

/* ----------
FORM LOGIN
-------------- */

.form_input{
    margin-top: 80px;
    width: 100%;
    height: calc(100vh - 80px);
    text-align: center;
    padding-top: 100px;
}

.form_input input{
    width: 300px;
    height: 30px;
}

.form_input input[type=submit]{
    margin: 10px 0px;
    width: 70px;
    background-color: green;
}

.label{
    margin: 10px;
}

/* ----------
CHOICE ACTION
-------------- */

.choice_action{
    position: fixed;
    display: flex;
    top: 80px;
    left: 0px;
    width: 100%;
    height: 40px;
    background-color: yellow;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
}

.choice_action a:link, a:visited{
    text-decoration: none;
    color: black;
}

/* ----------
MESSAGE WELCOME
-------------- */

.message_welcome{
    position: absolute;
    top: 120px;
    left: 0px;
    height: calc(100vh - 120px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ----------
CONTENT PAGE
-------------- */

.content_page{
    position: absolute;
    top: 120px;
    left: 0px;
    height: calc(100vh - 120px);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form_operation{
    height: 600px;
    width: 50%;
    border: 2px solid black;
    text-align: center;
}

.form_operation h6{
    margin: 5px;
}

.form_operation input, textarea{
    margin-bottom: 20px;
    height: 30px;
}

.show_element{
    height: 600px;
    width: 50%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
}

.box_item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    height: 80px;
    width: 90%;
    border-radius: 10px;
    margin: 10px 0px;
}

.img_item{
    height: 70px;
}

@media (max-width: 768px){

    .content_page{
        flex-wrap: wrap;
        height: auto;
    }

    .form_operation{
        width: 100%;
        height: calc(100vh - 120px);
    }

    .show_element{
        width: 100%;
        height: calc(100vh - 120px);
    }

}