<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:fragment="navbar_css">
		<link th:href="@{/css/navbar_style.css}" rel="stylesheet">
	</head>
	
	<body>
		<header th:fragment="navbar">
			<nav class="navbar">
				<div class="logo_text">
		        	<img src="/images/home_images/museum-icon.png" alt="">
		        	<h3>Museo delle Arti</h3>
		    	</div>
		    	<div class="utility">
		        	<ul class="menu">
		            	<li class="flip_menu"><a href="index.html">Home</a></li>
		            	<li class="flip_menu"><a href="artisti.html">Autori</a></li>
		            	<li class="flip_menu"><a href="collezioni.html">Collezioni</a></li>
		            	<li class="flip_menu"><a href="informazioni.html">Informazioni</a></li>
		        	</ul>
		        	<div class="hamburger"><i class="fas fa-bars fa-2x wt"></i></div>
		    	</div>
			</nav>
		</header>
	</body>
</html>