<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:fragment="footer_css">
		<link th:href="@{/css/footer_style.css}" rel="stylesheet">
	</head>
	
	<body>
		<footer class="footer" th:fragment="footer">
        	<div class="social_footer">
            	<a href="" class="link_social"><i class="fab fa-facebook-square fa-3x flip"></i></a>
            	<a href="" class="link_social"><i class="fab fa-twitter fa-3x flip"></i></a>
            	<a href="" class="link_social"><i class="fab fa-instagram fa-3x flip"></i></a>
            	<a href="" class="link_social"><i class="fab fa-telegram-plane fa-3x flip"></i></a>
        	</div>
        	<div class="content_footer">
            	<div>
                	<h5>Numero di telefono</h5>
                	<h6>3925645217</h6>
            	</div>
            	<div>
                	<h5>Località</h5>
                	<h6>Via Nazionale, 159</h6>
            	</div>
            	<a href="../login_amm.html" th:href="@{'/login'}">
            		<h5 id="blue">Sei amministratore?<br>Accedi
            		</h5>
        		</a>
        	</div>
    	</footer>
	</body>
	
</html>