/* ----------
SECTION -- CONTAINER BOX
-------------- */

#titolo_principale{
    text-align: center;
    color: orange;
    text-shadow: 23px 6px 6px rgba(150, 150, 150, 1);
    margin-top:0px;
}

.container_box{
    /* border: 2px solid red; */
    width: 100%;
    padding: 0px 20px;
    min-height: calc(100vh - 400px);
    background: url(../images/information_images/legno_background.jpg) center center;
    background-size: cover;
}

.box{
    border: 2px solid black;
    border-radius: 30px;
    height: 150px;
    width: 100%;
    margin: 20px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: orange;
    text-decoration: none;
    color: black;
    margin-bottom:0px;
}

.box:hover{
    -webkit-box-shadow: 9px 4px 24px 1px rgba(0,0,0,0.86); 
    box-shadow: 9px 4px 24px 1px rgba(0,0,0,0.86);
    transition: 0.5s;
}

.box img{
	margin-top: 10px;
    height: 140px;
    border-radius: 10px;
}

@media (max-width: 768px){

    .box{
		flex-direction: column;
        flex-wrap: wrap;
        height: auto;
    }
    
    .box h3, .box h4{
		text-align: center;
		margin: 5px;
	}

}
