<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<head th:insert="fragments/base.html :: headerfiles(title=#{pageTitle.home})"></head>
		<head th:insert="fragments/navbar.html :: navbar_css"> </head>
		<head th:insert="fragments/footer.html :: footer_css"> </head>
		<link th:href="@{/css/home_style.css}" rel="stylesheet">
	</head>
	
  	<body>
  
    	<header th:replace="fragments/navbar.html :: navbar"></header>
    
    	<section class="main_section">
    		<div class="main_section__text reveal">
        		<h2> Benvenuto nel Museo delle Arti </h2>
      		</div>
    	</section>

    	<section class="first_container">
      		<div class="first_container__content">
        		<p> Il Museo Delle Arti è uno dei musei più conosciuti e ammirati in tutto il suolo nazionale italiano nonchè mondiale.
        		    Ospita numerose opere d'arte e sculture dei più celebri ed importanti autori di qualsiasi epoca provenienti
        		    da tutto il mondo tra cui Leonardo Da vinci, Raffaello, Michelangelo, Vincent Van Gogh ed altri.
        		    Con i suoi 10.000 metri quadrati vanta di sale molto estese ciascuna dedicata ad una collezione di opere.</p>
        		<div class="flex_two_box">
          			<div class="box reveal" th:object="${opera1}">
             			<div class="box_img">
             				<img alt="" class="img_item" src="img/284-davinci.jpg" th:src="*{'data:image/jpeg;base64,'+{image}}">
             			</div>
             			<div class="box_test">
                			<h4 th:text="*{titolo}"> Creazione Di Adamo</h4>
                			<h6 th:text="*{descrizione}">La Creazione di Adamo è un affresco (280x570 cm) di Michelangelo Buonarroti,
                			 databile al 1511 circa e facente parte della decorazione della volta della Cappella Sistina,
                			  nei Musei Vaticani a Roma</h6>
             			</div>
          			</div>
          			<div class="box reveal" th:object="${opera2}">
             			<div class="box_img">
             				<img alt="" class="img_item" src="img/284-davinci.jpg" th:src="*{'data:image/jpeg;base64,'+{image}}">
             			</div>
             			<div class="box_test">
                			<h4 th:text="*{titolo}"> Creazione Di Adamo</h4>
                			<h6 th:text="*{descrizione}">La Creazione di Adamo è un affresco (280x570 cm) di Michelangelo Buonarroti,
                			 databile al 1511 circa e facente parte della decorazione della volta della Cappella Sistina,
                			  nei Musei Vaticani a Roma</h6>
             			</div>
          			</div>
        		</div>
          
        		<div class="flex_two_box">
          			<div class="box reveal" th:object="${opera3}">
             			<div class="box_img">
             				<img alt="" class="img_item" src="img/284-davinci.jpg" th:src="*{'data:image/jpeg;base64,'+{image}}">
             			</div>
             			<div class="box_test">
                			<h4 th:text="*{titolo}"> Creazione Di Adamo</h4>
                			<h6 th:text="*{descrizione}">La Creazione di Adamo è un affresco (280x570 cm) di Michelangelo Buonarroti,
                			 databile al 1511 circa e facente parte della decorazione della volta della Cappella Sistina,
                			  nei Musei Vaticani a Roma</h6>
             			</div>
          			</div>
          			<div class="box reveal" th:object="${opera4}">
             			<div class="box_img">
             				<img alt="" class="img_item" src="img/284-davinci.jpg" th:src="*{'data:image/jpeg;base64,'+{image}}">
             			</div>
             			<div class="box_test">
                			<h4 th:text="*{titolo}"> Creazione Di Adamo</h4>
                			<h6 th:text="*{descrizione}">La Creazione di Adamo è un affresco (280x570 cm) di Michelangelo Buonarroti,
                			 databile al 1511 circa e facente parte della decorazione della volta della Cappella Sistina,
                			  nei Musei Vaticani a Roma</h6>
             			</div>
          			</div>
        		</div>
      		</div>
        
    	</section>
    
    <footer th:replace="fragments/footer.html :: footer"></footer>
    <script th:replace="fragments/base.html :: script"></script>
  </body>
</html>