<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<head th:insert="fragments/base.html :: headerfiles(title=#{pageTitle.home})"></head>
		<head th:insert="fragments/navbar.html :: navbar_css"> </head>
		<head th:insert="fragments/footer.html :: footer_css"> </head>
		<link th:href="@{/css/home_style.css}" rel="stylesheet">
	</head>
	
  	<body>
  
    	<header th:replace="fragments/navbar.html :: navbar"></header>
    
    	<section class="main_section">
    		<div class="main_section__text reveal">
        		<h2> Benvenuto nel Museo delle Arti </h2>
      		</div>
    	</section>

    	<section class="first_container">
      		<div class="first_container__content">
        		<p> Il Museo Delle Arti è uno dei musei più conosciuti e ammirati in tutto il suolo nazionale italiano nonchè mondiale.
        		    Ospita numerose opere d'arte e sculture dei più celebri ed importanti autori di qualsiasi epoca provenienti
        		    da tutto il mondo tra cui Leonardo Da vinci, Raffaello, Michelangelo, Vincent Van Gogh ed altri.
        		    Con i suoi 10.000 metri quadrati vanta di sale molto estese ciascuna dedicata ad una collezione di opere.</p>
        		<div class="flex_two_box">
          			<div class="box reveal">
             			<div class="box_img img1"></div>
             			<div class="box_test">
                			<h4> Creazione Di Adamo</h4>
                			<h6>La Creazione di Adamo è un affresco (280x570 cm) di Michelangelo Buonarroti,
                			 databile al 1511 circa e facente parte della decorazione della volta della Cappella Sistina,
                			  nei Musei Vaticani a Roma</h6>
             			</div>
          			</div>
          			<div class="box reveal">
            			<div class="box_img img2"></div>
            			<div class="box_test">
              				<h4> Ultima Cena </h4>
              				<h6>Il Cenacolo, noto anche come l'Ultima Cena, è un dipinto
              				 parietale ottenuto con una tecnica mista a secco su intonaco di Leonardo da Vinci,
              				  databile al 1494-1498 </h6>
           				</div>
          			</div>
        		</div>
          
        		<div class="flex_two_box">
          			<div class="box reveal">
            			<div class="box_img img3"></div>
            			<div class="box_test">
              				<h4> Campo Di Grano Con Volo Di Corvi </h4>
              				<h6>Campo di grano con volo di corvi è un dipinto 
              				del pittore olandese Vincent van Gogh, realizzato nel 1890 
              				e conservato al Van Gogh Museum di Amsterdam.</h6>
            			</div>
          			</div>
          			<div class="box reveal">
            			<div class="box_img img4"></div>
            			<div class="box_test">
              				<h4> Notte Stellata</h4>
             		 		<h6>La Notte stellata è un dipinto del pittore olandese Vincent
             		 		 van Gogh, realizzato nel 1889 e conservato al Museum of Modern Art di New York.
             		 		</h6>
            			</div>
          			</div>
        		</div>
      		</div>
        
    	</section>
    
    <footer th:replace="fragments/footer.html :: footer"></footer>
    <script th:replace="fragments/base.html :: script"></script>
  </body>
</html>