<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <head th:insert="fragments/base.html :: headerfiles(title=#{pageTitle.login_amm})"></head>
	    <head th:insert="fragments/navbar.html :: navbar_css"> </head>
		<link th:href="@{/css/amm_style.css}" rel="stylesheet">
	</head>
	<body>
	
	    <header th:replace="fragments/navbar.html :: navbar"></header>
	
	    <section class="form_input">
	        <form th:action="@{/login}" method="POST"  class="content_form">
	        	<!--<div th:if="${#fields.hasGlobalErrors()}">
            		<p th:each="err : ${#fields.globalErrors()}" th:text="${err}" th:style="'color:red'" >...</p>
				</div> -->
	            <h2>Login</h2>
	            <h6 class="label">Username</h6>
	            <input type="text" name="username" placeholder="username">
	            <!--<h6 th:if="${#fields.hasErrors('username')}" th:errors="*{username}" th:style="'color:red'"> </h6> -->
	            <h6 class="label">Password</h6>
	            <input type="password" name="password" placeholder="password">
	            <!--<h6 th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:style="'color:red'"> </h6> -->
	            <br>
	            <input type="submit" value="Sign in">
	        </form>
	    </section>
	
	    <script th:replace="fragments/base.html :: script"></script>
	
	</body>
</html>