<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:insert="fragments/base.html :: headerfiles(title=#{pageTitle.artista})"></head>
    <head th:insert="fragments/navbar.html :: navbar_css"> </head>
	<head th:insert="fragments/footer.html :: footer_css"> </head>
	<link th:href="@{/css/artista_style.css}" rel="stylesheet">
</head>
<body>

  <header th:replace="fragments/navbar.html :: navbar"></header>

  <div class="spessore_nero_navbar">  </div>

  <section class="artist_details">
    <div class="artist_img">  </div>
    <div class="artist_text">
        <ul class="list_details">
          <li> 
            <h2> Nome </h2>
            <h3> <em> Leonardo </em></h3>
          </li>
          <li> 
            <h2> Cognome </h2>
            <h3> <em> Da Vinci </em></h3>
          </li>
          <li> 
            <h2> Nazionalità </h2>
            <h3> <em> Italiana </em></h3>
          </li>
          <li> 
            <h2> Data di nascita </h2>
            <h3> <em> 10/7/1400 </em></h3>
          </li>
          <li> 
            <h2> Data di Morte </h2>
            <h3> <em> 10/7/1500 </em></h3>
          </li>
          <li> 
            <h2> Luogo Di Nascita </h2>
            <h3> <em> Roma </em></h3>
          </li>
          <li> 
            <h2> Luogo Di Morte </h2>
            <h3> <em> Roma </em></h3>
          </li>
        </ul>
    </div>
  </section>

  <section id="artist_biography">
    <div class="biography_elements">
      <strong>Biografia</strong>
    </div>
    <div class="biography_elements_2">
      <em>descrizione</em>
    </div>
  </section>

      
  <section class="artworks">
    <div class="artworks_title">
      <strong>Opere</strong>
    </div>
    <div id="artworks_artist">

      <div class="artwork">
        <a href="opera.html">
          <div class="artwork_image">
            <img src="img/1200px-Mona_Lisa,_by_Leonardo_da_Vinci,_from_C2RMF_retouched.jpg" alt="">
          </div>
          <div class="artwork_text">
            <h3>GIOCONDA</h3>
          </div>
        </a>
      </div>

      <div class="artwork">
        <a href="opera.html">
          <div class="artwork_image">
            <img src="img/1200px-Mona_Lisa,_by_Leonardo_da_Vinci,_from_C2RMF_retouched.jpg" alt="">
          </div>
          <div class="artwork_text">
            <h3>GIOCONDA</h3>
          </div>
        </a>
      </div>

      <div class="artwork">
        <a href="opera.html">
          <div class="artwork_image">
            <img src="img/1200px-Mona_Lisa,_by_Leonardo_da_Vinci,_from_C2RMF_retouched.jpg" alt="">
          </div>
          <div class="artwork_text">
            <h3>GIOCONDA</h3>
          </div>
        </a>
      </div>

      <div class="artwork">
        <a href="opera.html">
          <div class="artwork_image">
            <img src="img/1200px-Mona_Lisa,_by_Leonardo_da_Vinci,_from_C2RMF_retouched.jpg" alt="">
          </div>
          <div class="artwork_text">
            <h3>GIOCONDA</h3>
          </div>
        </a>
      </div>

      <div class="artwork">
        <a href="opera.html">
          <div class="artwork_image">
            <img src="img/1200px-Mona_Lisa,_by_Leonardo_da_Vinci,_from_C2RMF_retouched.jpg" alt="">
          </div>
          <div class="artwork_text">
            <h3>GIOCONDA</h3>
          </div>
        </a>
      </div>

    </div>
  </section>
      

  <footer th:replace="fragments/footer.html :: footer"></footer>
  <script th:replace="fragments/base.html :: script"></script>
    
</body>
</html>