<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <head th:insert="fragments/base.html :: headerfiles(title=#{pageTitle.artista})"></head>
	    <head th:insert="fragments/navbar.html :: navbar_css"> </head>
		<head th:insert="fragments/footer.html :: footer_css"> </head>
		<link th:href="@{/css/artista_style.css}" rel="stylesheet">
	</head>
	<body>
	
	  <header th:replace="fragments/navbar.html :: navbar"></header>
	
	  <div class="spessore_nero_navbar">  </div>
	  
	  <div class="background_img">
	
	  <section class="artist_details" th:object="${artista}">
	    <img alt="" class="artist_img" src="img/284-davinci.jpg" th:src="*{'data:image/jpeg;base64,'+{image}}">
	    <div class="artist_text">
	        <ul class="list_details">
	          <li> 
	            <h2> Nome </h2>
	            <h3> <em th:text="*{nome}"> nome autore </em> </h3>
	          </li>
	          <li> 
	            <h2> Cognome </h2>
	            <h3> <em th:text="*{cognome}"> cognome autore </em> </h3>
	          </li>
	          <li> 
	            <h2> Nazionalità </h2>
	            <h3> <em th:text="*{nazionalita}"> nazionalità autore </em> </h3>
	          </li>
	          <li> 
	            <h2> Data Di Nascita </h2>
	            <h3> <em th:text="*{dataDiNascita}"> data di nascita autore </em> </h3>
	          </li>
	          <li> 
	            <h2> Data Di Morte </h2>
	            <h3> <em th:text="*{dataDiMorte}"> data di morte autore </em> </h3>
	          </li>
	          <li> 
	            <h2> Luogo Di Nascita </h2>
	            <h3> <em th:text="*{luogoDiNascita}"> luogo di nascita autore </em> </h3>
	          </li>
	          <li> 
	            <h2> Luogo Di Morte </h2>
	            <h3> <em th:text="*{luogoDiMorte}"> luogo di morte autore </em> </h3>
	          </li>
	        </ul>
	    </div>
	  </section>
	
	  <section id="artist_biography">
	    <div class="biography_elements">
	      <strong> Biografia </strong>
	    </div>
	    <div class="biography_elements_2">
	      <em th:text="${artista.biografia}"> Descrizione Biografia </em>
	    </div>
	  </section>
	
	      
	  <section class="artworks">
	    <div class="artworks_title">
	      <strong> Opere </strong>
	    </div>
	    <div id="artworks_artist">
	      <div class="artwork" th:each="opera : ${opere}">
	        <a href="opera.html" th:href="@{'/opera' + '/' + ${opera.titolo}}">
	          <div class="artwork_image">
	            <img alt="" src="img/284-davinci.jpg" th:src="*{'data:image/jpeg;base64,'+{opera.image}}">
	          </div>
	          <div class="artwork_text">
	            <h3 th:text="${opera.titolo}"> Nome Opera </h3>
	          </div>
	        </a>
	      </div>
	      
		</div>
	  </section>  
	  <br>
	  </div>
	  
	  <footer th:replace="fragments/footer.html :: footer"></footer>
	  <script th:replace="fragments/base.html :: script"></script>
	    
	</body>
</html>