<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<head th:insert="fragments/base.html :: headerfiles(title=#{pageTitle.cancellaOpera})"></head>
	   	<head th:insert="fragments/navbar_amm.html :: navbar_amm_css"> </head>
	   	<link th:href="@{/css/amm_style.css}" rel="stylesheet">
	</head>
	<body>
	
	    <header th:replace="fragments/navbar_amm.html :: navbar"></header>
	
	    <header th:replace="fragments/navbar_amm.html :: choice_action"></header>
	
	    <section class="content_page">
	        <div class="form_operation">
	            <h3>Cancella Artista</h3>
	            <h5>Inserisci il Nome dell'artista per eliminarlo</h5>
	            <form th:action="@{/deleteArtista}" method="post">
	                <h6>Nome:</h6>
	                <input type="text" name="nome" placeholder="Titolo">
	                <br>
	                <input type="submit" value="Cancella">
	            </form>
	        </div>
	        <div class="show_element">
		    	<div th:each="artista : ${artisti}" class="box_item">
			    	<a href="#" class="box_item">
			        	<img alt="" class="img_item" src="img/284-davinci.jpg" th:src="*{'data:image/jpeg;base64,'+{artista.image}}">
			            <p>Nome: <h6 th:text="${artista.nome}">nome titolo</h6></p>
			            <p>Cognome: <h6 th:text="${artista.cognome}">2000</h6></p>
			        </a>
		        </div>
		            <!-- QUI SI DEVONO CREARE MOLTI box_item -->
		     </div>
	    </section>
	
	    <script th:replace="fragments/base.html :: script"></script>
	    
	</body>
</html>