<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/amm_style.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <title>Document</title>
</head>
<body>

    <nav class="navbar">
        <div class="logo_text">
            <img src="img/museum-icon.png" alt="">
            <h3>Museo delle Arti</h3>
        </div>
        <div class="utility">
            <ul class="menu">
                <li class="flip_menu"><a href="home.html">Esci</a></li>
                <li class="flip_menu"><a href="home_amm.html">Ciao, nome amministratore</a></li>
            </ul>
            <div class="hamburger"><i class="fas fa-bars fa-2x wt"></i></div>
        </div>
    </nav>

    <nav class="choice_action">
        <div><a href="/inserisci_collezione_amm.html">Inserisci Collezione</a></div>
        <div><a href="/inserisci_opera_amm.html">Inserisci Opera</a></div>
        <div><a href="/cancella_collezione_amm.html">Cancella Collezione</a></div>
        <div><a href="/cancella_opera_amm.html">Cancella Opera</a></div>
    </nav>

    <section class="content_page">
        <div class="form_operation">
            <h3>Inserisci Opera</h3>
            <form th:action="@{/addOpera}" method="post" enctype="multipart/form-data">
                <h6>Titolo:</h6>
                <input type="text" name="titolo" placeholder="Titolo">
                <h6>Anno di realizzazione:</h6>
                <input type="text" name="anno" placeholder="2000">
                <h6>Descrizione:</h6>
                <textarea type="text" name="descrizione" placeholder="Descrizione"></textarea>
                <h6>Collezione:</h6>
                <input type="text" name="collezione" placeholder="Collezione">
                <h6>Artista:</h6>
                <input type="text" name="artista" placeholder="Artista">
                <div>
                    <h6>Image:</h6>
                    <input type="file" name="file" placeholder="Minecraft">
                </div>
                <input type="submit" value="Inserisci">
            </form>
        </div>
        <div class="show_element">
        	<div th:each="opera : ${opere}">
	            <a href="#" class="box_item">
	            	<img alt="" class="img_item" src="img/284-davinci.jpg" th:src="*{'data:image/jpeg;base64,'+{opera.image}}">
	                <p>Titolo: <h6 th:text="${opera.titolo}">nome titolo</h6></p>
	                <p>Anno: <h6 th:text="${opera.annoDiRealizzazione}">2000</h6></p>
	                <p>Artista: <h6 th:text="${opera.artista}">nome artista</h6></p>
	            </a>
        	</div>
            <!-- QUI SI DEVONO CREARE MOLTI box_item -->
        </div>
    </section>

    <script>
        // JQUERY
        $(document).ready(function () {
          $(".hamburger").click(function () {
            $(".menu").toggleClass("menu--open");
          });
        });
  
        ScrollReveal().reveal('.reveal', { easing: 'cubic-bezier(.77,.34,.10,1.0)', distance: '150px' , duration: 2000, interval: 600 });
  
  
        ScrollReveal().reveal('.flip', { rotate: {x: 90, y:0, z: 90}, duration: 2000, interval: 600, mobile: true});
  
  
  
    </script>
    
</body>
</html>