<!DOCTYPE html>
<html lang="en">
<head>
    <head th:insert="fragments/base.html :: headerfiles(title=#{pageTitle.login_amm})"></head>
	<link th:href="@{/css/amm_style.css}" rel="stylesheet">
</head>
<body>

    <header th:replace="fragments/base.html :: navbar"></header>

    <section class="form_input">
        <form action="" method="post" class="content_form">
            <h2>Login</h2>
            <h6 class="label">Email or Username</h6>
            <input type="text" placeholder="mario.rossi@gmail.com">
            <h6 class="label">Password</h6>
            <input type="password" placeholder="password">
            <br>
            <input type="submit" value="Sign in">
        </form>
    </section>

    <script th:replace="fragments/base.html :: script"></script>

</body>
</html>