<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
	<head th:insert="fragments/base.html :: headerfiles(title=#{pageTitle.opera})"></head>
	<head th:insert="fragments/navbar.html :: navbar_css"> </head>
	<head th:insert="fragments/footer.html :: footer_css"> </head>
	<link th:href="@{/css/opera_style.css}" rel="stylesheet">
  </head>
  <body th:object="${opera}">

	<header th:replace="fragments/navbar.html :: navbar"></header>

    <div class="spessore_nero_navbar"></div>

    <div class="background_img">

      <section class="container_halfscreen reveal">
        <div class="half_screen_img">
          <!-- <img src="./img/1200px-Mona_Lisa,_by_Leonardo_da_Vinci,_from_C2RMF_retouched.jpg" alt=""> -->
        </div>
        <div class="half_screen_text">
            <div class="title_artwork">
              <h1 th:text="*{titolo}"> titolo dell'opera</h1>
            </div>
            <div class="description_artwork">
              <h6 th:text="*{descrizione}"> descrizione opera </h6>
            </div>
        </div>
      </section>


      <section class="author_section reveal">
        <div class="description_author">
            <div class="name_surname_author">
              <h3 th:text="|${opera.artista.nome} ${opera.artista.cognome}|">Nome Cognome Autore</h3>
            </div>
            <div class="text_author">
              <h6 th:text="${opera.artista.biografia}"> Biografia Autore </h6>
            </div>
        </div>
        <div class="img_author">
          <!-- Author Image -->
          <div class="container_img_author">
              <a href="artista.html"><img src="img/284-davinci.jpg" alt=""></a>
          </div>
        </div>
      </section>

		<footer th:replace="fragments/footer.html :: footer"></footer>
  
	</div>

	<script th:replace="fragments/base.html :: script"></script>
	
  </body>
</html>
